gdoctype html
html(lang='ru')
	include pug/head
	body
		#root.root-container
			include pug/header
			include pug/navigation
			include pug/slider
			#root_footer
		include pug/footer
		include pug/scripts
