doctype html
html(lang='ru')
	include pug/head
	body
		.svg-sprite
			include images/sprite-symbol.svg
			include pug/navigation
		#root.root-container
			include pug/about
			#root_footer
		include pug/footer
		include pug/scripts
