//FOOTER

footer#footer.footer
  .g--wrapper
    .footer__bottom
      .footer__copyright
        span © 2017 Все права защищены.
      .footer__creator
        a(href='https://www.divier.ru/', target='_blank') Создание сайта
        |  ДиВиЕР

//FOOTER END