//NAVIGATION
section.navigation
	.g--wrapper.navigation__wrapper
		nav#navigation
			button#js--mobile-menu-btn.hamburger.hamburger--stand(type='button', value='Меню')
				span.hamburger-box
					span.hamburger-inner
				span.hamburger-label Меню
			ul.navigation__list#js--mobile-menu-list
					li.navigation__item_1
						a(href='#').navigation__link_1 О магазине
					li.navigation__item_1
						a(href='#').navigation__link_1 Каталог
						.navigation__submenu
							ul.navigation__list_1
								li.navigation__item_2
									a.navigation__link_2(href='#') Длинные шторы
								li.navigation__item_2
									a.navigation__link_2(href='#') Короткие шторы
								li.navigation__item_2
									a.navigation__link_2(href='#') Римские шторы
								li.navigation__item_2
									a.navigation__link_2(href='#') Рулонные шторы
								li.navigation__item_2
									a.navigation__link_2(href='#') Скатерти

					li.navigation__item_1
						a(href='#').navigation__link_1 Оплата и возврат
						.navigation__submenu
							ul.navigation__list_1
								li.navigation__item_2
									a.navigation__link_2(href='#') Способы оплаты
								li.navigation__item_2
									a.navigation__link_2(href='#') Возврат товара
								li.navigation__item_2
									a.navigation__link_2(href='#') Публичная оферта
					li.navigation__item_1
						a(href='#').navigation__link_1 Акции
						.navigation__submenu
							ul.navigation__list_1
								li.navigation__item_2
									a.navigation__link_2(href='#') Скидки
								li.navigation__item_2
									a.navigation__link_2(href='#') Подарки
					li.navigation__item_1
						a(href='#').navigation__link_1 Контакты

//NAVIGATION END