//NAVIGATION
section.navigation
	.g--wrapper.navigation__wrapper
		nav#navigation
			button#js--mobile-menu-btn.hamburger.hamburger--stand(type='button', value='Меню')
				span.hamburger-box
					span.hamburger-inner
				span.hamburger-label Меню
			ul.navigation__list#js--mobile-menu-list
					li.navigation__item_1


//NAVIGATION END