//NAVIGATION
section.navigation
	.g--wrapper
		nav#navigation
			button.m-hamburger.mm-hamburger--l-rotating-arrow(aria-label='Menu', aria-controls='navigation')
				span Menu
			ul.navigation__list
				li.navigation__item
//NAVIGATION END