//PAGINATION

.g--wrapper
  .pagination
    span.pagination__label Страница&nbsp;
    .pagination__item.pagination__item_prev.disabled
      span <
    .pagination__item
      span.nav-current-page 1
    .pagination__item
      a(href='#') 2
    .pagination__item
      a(href='#') 3
    span.pagination__dots ...
    .pagination__item
      a(href='#') 15
    .pagination__item
      a(href='#') 16
    .pagination__item.pagination__item_next
      span >
    a.pagination__label(href='#') Все

//PAGINATION END