//PICKING
section.picking.g--section
  form.g--wrapper.picking__wrapper
    h2.g--h2 Подбор штор
    ol.picking__list
      li.picking__item.pick-interior
        h3.g--h3 Выбор интерьера
        ul.pick-interior__list
          li.pick-interior__item

//PICKING END