// build:remove
script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
// endbuild
// build:js js/custom.js
//script(src='libs/magnific-popup/dist/jquery.magnific-popup.js')
script(src='libs/slick-carousel/slick/slick.js')
script(src='js/custom.js')
// endbuild