//MAIN-SLIDER

.main-slider
  .main-slider__wrapper
    ul.main-slider__list
      - var i = 1
      while i <= 3
        li.main-slider__item(style='background-image: url(images/main-slider_' + i + '.jpg)')
          .g--wrapper.main-slider__inner
            .main-slider__text
              span.main-slider__title.main-slider__title_big Первый «умный»
              span.main-slider__title.main-slider__title_thin сервис подбора штор
              span.main-slider__title.main-slider__title_sm  под интерьер онлайн
              a(href='#').main-slider__link Подробнее
        - i++

//MAIN-SLIDER END