.svg-check-dims {
	width: 17px;
	height: 17px;
}

.svg-e-mail-dims {
	width: 30px;
	height: 18px;
}

.svg-linz-dims {
	width: 26px;
	height: 26px;
}

.svg-phone-dims {
	width: 32px;
	height: 32px;
}

.svg-search-dims {
	width: 19px;
	height: 20px;
}

